* {
    box-sizing: border-box;
}

img {
    width: 100%;
}



h1, h2 {
    margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
    display: block;
    appearance: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    height: 3rem;
    padding: 0 0.5rem;
    border: 0.125rem solid transparent;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 2.625rem;
    -webkit-font-smoothing: antialiased;
    border-radius: 0.25rem;
    letter-spacing: 0.09375rem;
    transition: all 0.3s ease;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,0.15);
    cursor: pointer;

    &:hover {
        box-shadow: 2px 4px 8px 0 rgba(46,61,73,0.2);
    }
}

html {
    height: 100%;
    overflow-y:scroll;
}

body {
    margin: 0;
    color: $grey;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5rem;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#root {
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.registration-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.create-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}