// colors
$wheat:       #fffde5;
$yellow:      #ffd31a;
$yellow-plus: #ffc822;
$grey:        #525c65;
$orange:      #ff8b17;
$black:       #000;
$white:       #fff;

//sub-colors
$grey-dark:        #303030;
$light-orange:     #f7a75a;
$orange-red-light: #f43745;
$orange-red:       #e5354b;
$orange-pink-light:#d83550;
$orange-pink:      #cc3354;