.login {
    flex: 1 0 auto;
    padding: 60px 0;
    background: $orange;

    &__title {
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__form {
        max-width: 620px;
        margin: 0 auto;
        padding: 60px;
        border: 1px solid #dbe2e8;
        background: #fff;
        box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
    }

    &__button {
        min-width: 207px;
        width: 100%;
        margin-top: 20px;
        color: #fff;
        background: $light-orange;
    }
}

.error {
    &__container {

    }

    &__text {
        color: #909070;
    }
}