@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic");
* {
  box-sizing: border-box; }

img {
  width: 100%; }

button {
  display: block;
  appearance: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  height: 3rem;
  padding: 0 0.5rem;
  border: 0.125rem solid transparent;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 2.625rem;
  -webkit-font-smoothing: antialiased;
  border-radius: 0.25rem;
  letter-spacing: 0.09375rem;
  transition: all 0.3s ease;
  box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
  cursor: pointer; }
  button:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2); }

body {
  color: #525c65;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  width: 100%;
  background: #cc3354; }

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .nav {
      flex-wrap: nowrap;
      padding: 15px 0; } }
  .nav .current-time {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    order: 3;
    margin: 15px auto 15px 0;
    color: #fff; }
    @media (min-width: 768px) {
      .nav .current-time {
        justify-content: flex-start;
        align-self: center;
        order: 1;
        width: 25%;
        margin: 0; } }
    @media (min-width: 1024px) {
      .nav .current-time {
        width: 30%; } }
    @media (min-width: 1200px) {
      .nav .current-time {
        width: 25%; } }
    .nav .current-time svg {
      width: 25px;
      height: 25px;
      fill: #ffd31a; }
    .nav .current-time time {
      margin-left: 5px; }
  .nav .logo {
    order: 1;
    width: 100%;
    padding: 15px 0; }
    @media (min-width: 768px) {
      .nav .logo {
        order: 2;
        width: 50%;
        padding: 0; } }
    @media (min-width: 1024px) {
      .nav .logo {
        width: 40%; } }
    @media (min-width: 1200px) {
      .nav .logo {
        width: 50%; } }
    .nav .logo svg {
      width: 100%;
      fill: #ffd31a; }
  .nav .login {
    display: flex;
    justify-content: space-between;
    order: 2;
    width: 100%;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .nav .login {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 25%; } }
    @media (min-width: 1024px) {
      .nav .login {
        flex-direction: row;
        align-items: center;
        width: 30%; } }
    @media (min-width: 1200px) {
      .nav .login {
        width: 25%; } }
    .nav .login__button {
      width: 140px;
      color: #fff;
      background: #f43745; }
      .nav .login__button:hover {
        background: #e5354b; }

main {
  padding-top: 10px;
  background: #ff8b17; }
  main .add-button {
    margin: 10px auto;
    background: #ffc822; }
    main .add-button:hover {
      background: #ffd31a; }
  main section {
    display: flex;
    flex-wrap: wrap; }
    main section .pizza {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      padding: 15px;
      background: #fffde5;
      border-radius: 0.375rem;
      box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
      transition: all 0.3s ease; }
      @media (min-width: 768px) {
        main section .pizza {
          width: calc(50% - 40px); } }
      @media (min-width: 1200px) {
        main section .pizza {
          width: calc(100% / 3 - 40px); } }
      main section .pizza .pizza__img {
        align-self: center; }
      main section .pizza:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2); }
      main section .pizza__time {
        width: 50%; }
      main section .pizza__queue-number {
        width: 50%;
        text-align: right;
        color: #e5354b; }
      main section .pizza__eta {
        width: 50%; }
        main section .pizza__eta time {
          color: #cc3354; }
        main section .pizza__eta > span {
          text-transform: uppercase; }
      main section .pizza__price {
        width: 50%;
        text-align: right; }

.footer {
  background: #303030; }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    color: #fff; }
    @media (min-width: 768px) {
      .footer .container {
        justify-content: space-between; } }
    .footer .container address {
      font-style: normal; }
      .footer .container address a {
        color: #fff; }

/*# sourceMappingURL=app.css.map */
